fastapi
uvicorn[standard]
gunicorn
python-jose[cryptography]
python-multipart
python-dotenv
pydantic
pydantic-settings
sqlmodel
gigachat
pypdf
python-docx
openpyxl
passlib[bcrypt]
bcrypt
slowapi